{% extends "base.html" %}

{% block extrahead %}
<link href="https://cdn.jsdelivr.net/gh/sigmax0124/logo@master/favion-big-mc-000000-212121-1.svg" rel="icon" media="(prefers-color-scheme:no-preference)">
<link href="https://cdn.jsdelivr.net/gh/sigmax0124/logo@master/favion-big-mc-212121-000000-1.svg" rel="icon" media="(prefers-color-scheme:light)">
<link href="https://cdn.jsdelivr.net/gh/sigmax0124/logo@master/favion-big-mc-000000-212121-1.svg" rel="icon" media="(prefers-color-scheme:dark)">
{% endblock extrahead %}