site_name: 派森贰
site_author: ricolxwz
site_url: https://py.ricolxwz.de/
repo_url: https://github.com/sigmax01/py
edit_uri: https://github.com/sigmax01/py/edit/master/docs
repo_name: sigmax01/py
copyright: <p xmlns:cc="http://creativecommons.org/ns#" >版权所有 &copy 2024-至今 由 <span property="cc:attributionName">许文泽</span> 采用 <a href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-NC 4.0&nbsp</a>许可证发布</p>
site_description: An python study node
theme:
  name: material
  logo_light_mode: https://cdn.jsdelivr.net/gh/sigmax0124/logo@master/favion-big-mc-212121-000000-1.svg 
  logo_dark_mode: https://cdn.jsdelivr.net/gh/sigmax0124/logo@master/favion-big-mc-000000-212121-1.svg
  language: zh
  custom_dir: overrides
  features:
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tabs.link
    - content.footnote.tooltips
    - content.tooltips
    - content.action.edit
    - content.action.view
    # - header.autohide
    # - announce.dismiss
    # - navigation.footer
    - navigation.tabs
    - navitation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - navigation.tracking
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to system preference 
  icon:
    annotation: material/star-four-points-circle
    repo: fontawesome/brands/github
    # admonition:
    #   note: octicons/tag-16
    #   abstract: octicons/checklist-16
    #   info: octicons/info-16
    #   tip: octicons/squirrel-16
    #   success: octicons/check-16
    #   question: octicons/question-16
    #   warning: octicons/alert-16
    #   failure: octicons/x-circle-16
    #   danger: octicons/zap-16
    #   bug: octicons/bug-16
    #   example: octicons/beaker-16
    #   quote: octicons/quote-16 
extra:
  social:
    - icon: fontawesome/mug-hot-solid
      link: https://buymeacoffee.com/ricolxwz
    - icon: fontawesome/compass-solid
      link: https://ricolxwz.de
    - icon: fontawesome/brands/github
      link: https://github.com/ricolxwz
    - icon: fontawesome/brands/gitlab
      link: https://gitlab.com/ricolxwz
    - icon: fontawesome/brands/docker
      link: https://hub.docker.com/u/ricolxwz
    - icon: fontawesome/telegram-brands-solid
      link: https://t.me/ricolxwz
    - icon: fontawesome/at-solid
      link: mailto:ricol.xwz@outlook.com
  generator: false
  analytics:
    provider: google
    property: G-JMVQ0KN6WN
extra_css:
  - stylesheets/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css
extra_javascript:
  - javascripts/favicon.js
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
  # - javascripts/analysis.js
markdown_extensions:
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.magiclink
  - admonition
  - abbr
  - attr_list
  - md_in_html
  - footnotes
  - def_list
  - tables
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
plugins:
  - i18n:
      docs_structure: suffix
      languages:
        - locale: zh
          default: true
          name: 中文
          build: true
        - locale: en
          name: English
          build: true
  - search:
      separator: '[\s\u200b\-]'
  - open-in-new-tab
  - glightbox
  - git-revision-date-localized:
      locale: zh
      enable_creation_date: true
      enabled: !ENV [CI, false]
  - git-committers:
      repository: ricolxwz/py
      branch: master
      enabled: !ENV [CI, false]
nav:
  - 开始:
    - index.md
  - 基础:
    - foundation/index.md
    - 容器: foundation/container.md
    - 函数: foundation/function.md
    - 对象: foundation/object.md
    - 文件: foundation/io.md
    - 模块/包/库: foundation/module.md
    - 网络: foundation/network.md
    - 多进程/多线程: foundation/threading.md
    - 异步: foundation/async.md
    - 数据库: foundation/database.md
    - 错误/调试/测试: foundation/debug.md
    - 编码: foundation/encoding.md
    - PVM: foundation/pvm.md
    - 其他: foundation/misc.md
  - 常用:
    - datetime: basic-package/datetime.md
    - collections: basic-package/collections.md
    - argparse: basic-package/argparse.md
    - base64: basic-package/base64.md
    - hashlib: basic-package/hashlib.md
    - hmac: basic-package/hmac.md
    - itertools: basic-package/itertools.md
    - contextlib: basic-package/contextlib.md
    - requests: basic-package/requests.md
  - NumPy:
    - 数据类型: numpy/datatype.md
    - 数组构建: numpy/array-creation.md
    - 视图/副本: numpy/view-copy.md
    - 数组广播: numpy/broadcast.md
    - 结构化数组: numpy/structured-array.md
    - 数组索引: numpy/array-index.md
    - 文件存取: numpy/io.md
  - Pandas:
    - 预备知识: pandas/preliminary-knowledge.md
    - 基础知识: pandas/foundation.md
    - 数据索引: pandas/data-index.md
    - 数据分组: pandas/grouping.md
  - Matplotlib:
    - matplotlib/index.md
    - 基础知识: matplotlib/foundation.md
    - 散点图: matplotlib/scatter-chart.md
    - 柱形图: matplotlib/column-chart.md
    - 饼图: matplotlib/pie-chart.md
    - 直方图: matplotlib/histogram.md
    - 热力图: matplotlib/heat-map.md
  - Seaborn:
    - 简要介绍: seaborn/introduction.md
