.md-header__button.md-logo {
  margin: 0;
  padding: 0;
}
.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 2.5rem;
  width: 2.5rem;
}

#logo_light_mode {
display: var(--md-footer-logo-light-mode);
height: 24px;
}
#logo_dark_mode {
display: var(--md-footer-logo-dark-mode);
height: 24px;
}

[data-md-color-scheme="default"] {
--md-footer-logo-dark-mode:         none;
--md-footer-logo-light-mode:         block;
--md-footer-bg-color: white;
--md-footer-bg-color--dark: white;
--md-footer-fg-color: var(--md-typeset-color);
--md-footer-fg-color--light: rgba(18, 19, 23, 0.6);
  --md-footer-border-color: rgba(0, 0, 0, 0.1);
  --md-top-custom: white;
  --md-banner-color: rgba(18, 19, 23, 0.6);
}
[data-md-color-scheme="slate"] {
--md-footer-logo-dark-mode:         block;
--md-footer-logo-light-mode:         none;
--md-primary-color-dark: rgba(18, 19, 23, 0.3);
--md-primary-fg-color: var(--md-primary-color-dark);
--md-header-bg-color: var(--md-primary-color-dark);
--md-footer-bg-color: var(--md-primary-color-dark);
--md-footer-bg-color--dark: var(--md-primary-color-dark);
--md-default-bg-color: var(--md-primary-color-dark);
  --md-footer-border-color: rgba(256, 256, 256, 0.2);
  --md-shadow-z2: 0 0.2rem 0.5rem #000,0 0 0.05rem #ffffff40;
  --md-top-custom: rgba(18, 19, 23, 1);
  --md-banner-color: var(--md-typeset-color);
}

.md-top {
  background-color: var(--md-top-custom);
}

.md-tabs {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.md-banner {
background-color: var(--md-primary-fg-color);
color: var(--md-banner-color);
}

.md-footer {
  border-top: 1px solid var(--md-footer-border-color);
}

.md-banner .twemoji-custom {
  border-radius: unset !important;
  box-shadow: unset !important;
  transition: unset !important;
}

.md-banner .twemoji {
  border-radius: 100%;
  box-shadow: inset 0 0 0 .05rem currentcolor;
  display: inline-block;
  height: 1.2rem;
  padding: .25rem;
  transition: all .25s;
  vertical-align: bottom;
  width: 1.2rem;
}

[data-md-color-primary="black"] .md-header {
background-color: var(--md-header-bg-color);
}
.md-header {
box-shadow: none;
transition: none;
backdrop-filter: saturate(180%) blur(20px);
-webkit-backdrop-filter: saturate(180%) blur(20px);
background-color: var(--md-header-bg-color);
}
.md-tabs {
box-shadow: none;
transition: none;
backdrop-filter: saturate(180%) blur(20px);
-webkit-backdrop-filter: saturate(180%) blur(20px);
background-color: var(--md-header-bg-color);
}

.katex {
font-size: 1em;
}

.md-typeset .admonition,
.md-typeset details {
border-width: 0;
border-left-width: 4px;
}

:root {
--md-code-font: "mononoki", "HarmonyOS Sans SC";
--md-text-font: "mononoki", "HarmonyOS Sans SC";
}